.formContainer {
  align-items: center;
  border-radius: 4px;
  justify-content: center;
  margin-bottom: 3rem;
  max-width: 500px;
  min-width: 200px;
  margin-right: auto;
  margin-left: auto;
}

input:focus,
textarea:focus {
  outline: none !important;
  border-color: #505e98 !important;
  box-shadow: 0 0 10px #505e98 !important;
}

.submitBtn {
  margin-right: 10px;
  background-color: #80bd9e;
  border-color: #80bd9e;
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
}

.cancelBtn {
  background-color: #c95555;
  border-color: #c95555;
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
}

.submitBtn:hover {
  background-color: #6198c3;
  border-color: #6198c3;
}

.cancelBtn:hover {
  background-color: #f2996a;
  border-color: #f2996a;
}
