@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Raleway:wght@300&display=swap");

.dimension {
  align-items: center;
  border-radius: 4px;
  justify-content: center;
  background-color: transparent;
  padding-top: 0;
}

.alignGreeting {
  align-items: center;
  justify-content: center;
}

.hideBackground {
  background-color: transparent;
  border: none;
}

.titleMessage {
  font-size: 40px !important;
  margin: 20px;
  color: #3d3d3d;
  display: flex;
  align-items: center;
}

.cardCss {
  border: 15px solid white;
  padding: 1rem;
  font-size: 2em;
  color: white;
  font-family: "Quicksand", sans-serif;
  border-radius: 4px;
  background-color: transparent;
}

.aboutBody{
  color: #3d3d3d;
}

.skillsCard {
  align-items: center;
  width: 30rem;
  margin: 15px;
  min-height: 402px;
  color: #3d3d3d!important;
}

.skillsHeader {
  font-size: 50px !important;
  margin-bottom: 10px;
  color: #3d3d3d;
}

.skillsTitle {
  font-size: 30px !important;
  margin-top: 10px;
  color: #3d3d3d;
}

.titleUnderline {
  background-color: white;
  margin: 15px;
  width: 300px !important;
  margin-bottom: 0;
}

.skillsBody {
  font-size: 30px !important;
  padding-top: 5px;
  text-align: left !important;
}

@media (max-width: 400px) {
  .mobileMargin {
    margin-bottom: 0px;
  }

  .titleMessage {
    font-size: 30px !important;
    margin: 0px;
  }

  .skillsHeader {
    font-size: 40px !important;
  }

  .skillsBody{
    font-size: 25px!important;
    padding-left: 0;
  }

  .skillsCard {
    min-height: 300px;
  }

  .cardCss {
    border: 15px solid white;
    padding: 0.25rem !important;
    font-size: 21px !important;
    color: white;
    font-family: "Quicksand", sans-serif;
    border-radius: 4px;
    background-color: transparent;
    margin-top: 5px;
  }

  .titleUnderline {
    background-color: white;
    margin: 15px;
    width: 200px !important;
    margin-bottom: 0;
  }
}
