@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Raleway:wght@300&display=swap");



.dimension {
  display: flex;
  align-items: center;
  border-radius: 4px;
  justify-content: center;
  background-color: transparent;
  padding-top: 0;
}

.alignGreeting {
  align-items: center;
  justify-content: center;
}

.hideBackground {
  background-color: transparent;
  border: none;
}

.titleMessage {
  font-size: 40px !important;
  margin: 20px;
  color: #3d3d3d;
  display: flex;
  align-items: center;
}

.cardCss {
  border: 15px solid white;
  padding: 1rem;
  font-size: 2em;
  color: white;
  font-family: "Quicksand", sans-serif;
  border-radius: 4px;
  background-color: transparent;
}

.skillsCard {
  width: 14.4rem;
  margin: 15px;
  min-height: 311px;
}

.skillsHeader {
  font-size: 50px !important;
  margin-bottom: 10px;
  color: #3d3d3d;
}

.skillsTitle {
  font-size: 30px !important;
  padding-top: 0.25rem !important;
  color: #3d3d3d;
}

.titleUnderline {
  background-color: white;
  margin: 0;
}

.skillsBody {
  font-size: 20px !important;
  padding-top: 10px;
  padding-left: 0;
  text-align: left !important;
}

@media (max-width: 576px) {
  .mobileMargin {
    margin-bottom: 0px;
  }
  .titleMessage {
    font-size: 30px !important;
    margin: 0px;
  }
  .skillsHeader{
    font-size: 40px!important;
  }

  .cardCss {
    border: 15px solid white;
    padding: 0.25rem !important;
    font-size: 20px !important;
    color: white;
    font-family: "Quicksand", sans-serif;
    border-radius: 4px;
    background-color: transparent;
    margin-top: 5px;
  }
}
